*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
#background-img{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -25vw;
    width: 125vw;
    height: 100vh;
    background-image: url("./img/coffee.jpg");
    background-size: cover;
    background-position: bottom;
    filter: blur(10px);
    z-index: -1;
}

header {
    text-align: center;
    padding-bottom: 1em;
}

#main-header {
    font-family: 'Niconne', cursive;
    font-size: 55px;
}

#main-hr {
    width: 95%;
}

body {
    padding: .5em 2em;
}

main{
    display: flex;
    gap: 3em;
	justify-content: center;
	flex-wrap: wrap;
}


h2{
    margin: 0;
}

.coffee{
    display: flex;
    align-items: center;
    flex-wrap: wrap;


}

#coffee-list{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.coffee-name{
    padding: .5em;
    background: #222;
    border-radius: 5px;
}

.coffee-roast{
    color: #3dc8e1;
    padding-left: .25em;
}

#forms, #coffee-list {
    width: 100%;
}

form {
    width: 100%;
}

#add-coffee {
    text-align: center;
}

input, select {
    color: #333;
    width: 100%;
    border-radius: 3px;
    padding: .5em;
    border: 1px solid lightgrey;
    margin: 3px;
}

label {
    font-weight: bold;
}

#submit, #submit2 {
    background-color: #3D89CB;
    color: #FFFFFF;
}

.hidden {
    display: none;
    /*visibility: hidden;*/
}

@media only screen and (min-width: 600px) {
	main{
		flex-wrap: nowrap;
	}
	#coffee-list, #forms{
		width: 50%;
	}
	#coffee-list{
		display: flex;
		flex-wrap: wrap;
	}
}