*{
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
}

body {
    padding: .5em 2em;
}

main{
    display: flex;
}

.coffee{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#coffee-list{
    display: flex;
    align-content: flex-start;
    gap: 1em;
    width: 50%;
    flex-wrap: wrap;
}

.coffee-name{
    padding-right: .25em;
}

.coffee-roast{
    opacity: .5;
}

#forms {
    width: 50%;
}

form {
    width: 100%;
}

#add-coffee {
    text-align: center;
}

input, select {
    width: 100%;
    border-radius: 3px;
    padding: .5em;
    border: 1px solid lightgrey;
    margin: 3px;
}

label {
    font-weight: bold;
}

#submit, #submit2 {
    background-color: #3D89CB;
    color: #FFFFFF;
}

.hidden {
    display: none;
    /*visibility: hidden;*/
}
